@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

button:focus {
  outline: none;
}

.container {
  padding: 0 5%;
}

.page {
  min-height: 100vh;
}

.text-justify {
  text-align: justify;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #0c0a13;
  padding: 0 5%;
  border-bottom: 3px solid #e20c4d;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-logo {
  height: 80px;
}

.nav-logo img {
  max-height: 100%;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list .nav-link {
  padding-right: 20px;
  padding-left: 10px;
  border-left: 2px dotted #e20c4d;
}

.nav-list .nav-link:last-child {
  padding-right: 0;
}

.nav-list .nav-link a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-list .nav-link a:hover {
  color: #e20c4d;
}

.nav-menu-btn {
  display: none;
  width: 40px;
  height: 25px;
  border: none;
  background: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.nav-menu-btn span {
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 0;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu-btn .top {
  width: 50%;
  top: 0;
}

.nav-menu-btn .middle {
  width: 100%;
  top: 11px;
  background-color: #e20c4d;
}

.nav-menu-btn .bottom {
  width: 70%;
  top: 22px;
}

.nav-menu-btn.toggled .top {
  top: 11px;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-menu-btn.toggled .middle {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
}

.nav-menu-btn.toggled .bottom {
  top: 11px;
  width: 100%;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.footer {
  width: 100%;
  background-color: #0c0a13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.footer p {
  margin: 80px 0;
}

.footer p i,
.footer p a {
  color: #e20c4d;
}

.footer p i {
  -webkit-animation: beat 0.8s infinite ease;
          animation: beat 0.8s infinite ease;
}

.home-page .home-wrapper {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.home-page .home-wrapper .info,
.home-page .home-wrapper .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-page .home-wrapper .info p {
  margin: 80px 0 50px 0;
  font-size: 1.4rem;
  position: relative;
}

.home-page .home-wrapper .info p::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100px;
  height: 4px;
  background-color: #e20c4d;
  border-radius: 5px;
}

.home-page .home-wrapper .info a {
  font-size: 1.4rem;
  background-color: #2e0b5c;
  color: #eeeeee;
  padding: 10px;
  -webkit-box-shadow: 4px 4px #e20c4d;
          box-shadow: 4px 4px #e20c4d;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.home-page .home-wrapper .info a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.home-page .home-wrapper .info a:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.home-page .home-wrapper .img {
  width: 100%;
}

.home-page .home-wrapper .img img {
  max-width: 100%;
}

.generate-page .reset-btn {
  font-size: 1.4rem;
  padding: 10px;
  margin: 40px 0 80px 0;
  border: none;
  background-color: #e20c4d;
  color: #eeeeee;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  cursor: pointer;
}

.generate-page .reset-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

.generate-page .generate-btn {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  background: none;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.generate-page .generate-btn .outer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2e0b5c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23e20c4d' fill-opacity='0.15' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.generate-page .generate-btn .inner {
  width: 120px;
  height: 120px;
  background-color: #e20c4d;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eeeeee;
  font-size: 1.4rem;
}

.generate-page .generate-btn.hide {
  -webkit-animation: btnHide 0.5s forwards ease;
          animation: btnHide 0.5s forwards ease;
}

.generate-page .generate-btn:hover .outer {
  -webkit-animation: btnRotate 4s infinite linear;
          animation: btnRotate 4s infinite linear;
}

.generate-page .generate-btn:hover .inner {
  -webkit-animation: btnLarge 0.3s forwards ease;
          animation: btnLarge 0.3s forwards ease;
}

.generate-page .result {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  margin-top: 40px;
}

.generate-page .result h2 {
  color: #2e0b5c;
  position: relative;
}

.generate-page .result h2::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 60px;
  height: 3px;
  border-radius: 10px;
  background-color: #e20c4d;
}

.generate-page .result ul {
  margin-top: 40px;
  font-size: 1.4rem;
}

.generate-page .result ul li {
  padding: 12px;
  background-color: #eeeeee;
}

.generate-page .result ul li .hashtag {
  color: #e20c4d;
}

.generate-page .result ul li .link {
  color: #2e0b5c;
}

.generate-page .result ul li:nth-child(even) {
  background-color: #fff;
}

.generate-page .result ul li .palette-container .color-item {
  font-size: 1rem;
  margin-bottom: 6px;
  padding: 8px 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.generate-page .result ul li .palette-container,
.generate-page .result ul li .components-container,
.generate-page .result ul li .defaults-container {
  margin-top: 16px;
}

.generate-page .result ul li .palette-container i,
.generate-page .result ul li .components-container i,
.generate-page .result ul li .defaults-container i {
  color: #e20c4d;
}

.generate-page .result.show {
  -webkit-animation: resultShow 0.5s forwards ease 0.6s;
          animation: resultShow 0.5s forwards ease 0.6s;
}

.about-page {
  padding-top: 40px;
  padding-bottom: 80px;
}

.about-page h2 {
  color: #2e0b5c;
  font-size: 2.5rem;
  position: relative;
}

.about-page h2::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 60px;
  height: 3px;
  border-radius: 10px;
  background-color: #e20c4d;
}

.about-page p {
  font-size: 1.4rem;
  margin: 40px 0;
}

.about-page p a {
  color: #2e0b5c;
  font-weight: bold;
}

.about-page ul {
  margin-top: 40px;
  font-size: 1.4rem;
}

.about-page ul li {
  padding: 6px;
}

.about-page ul li:nth-child(odd) {
  background-color: #eeeeee;
}

.about-page ul li a i {
  color: #e20c4d;
}

@-webkit-keyframes beat {
  0%,
  80%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes beat {
  0%,
  80%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes btnLarge {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes btnLarge {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@-webkit-keyframes btnRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes btnRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes btnHide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes btnHide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes resultShow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes resultShow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
    z-index: 10;
  }
  .nav-list {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #0c0a13;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  }
  .nav-list .nav-link {
    font-size: 3rem;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
    border-left: 0;
  }
  .nav-list.toggled {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  .nav-menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-page .home-wrapper {
    padding-top: 30px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .home-page .home-wrapper .info {
    text-align: center;
  }
  .home-page .home-wrapper .info a {
    width: 100%;
    -webkit-box-shadow: 0px 4px #e20c4d;
            box-shadow: 0px 4px #e20c4d;
  }
  .generate-page .generate-btn .outer {
    -webkit-animation: btnRotate 4s infinite linear;
            animation: btnRotate 4s infinite linear;
  }
}
/*# sourceMappingURL=style.css.map */