// Font
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

// Variables
$col-purple: #2e0b5c;
$col-pink: #e20c4d;
$col-light: #eeeeee;
$col-dark: #0c0a13;
$px: 5%;
$px-sm: 10px;
$navbar-height: 100px;

// Reset
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

button:focus {
  outline: none;
}

// Utilities
.container {
  padding: 0 $px;
}

.page {
  min-height: 100vh;
}

// Navbar
.navbar {
  width: 100%;
  height: $navbar-height;
  background-color: $col-dark;
  padding: 0 $px;
  border-bottom: 3px solid $col-pink;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 80px;

  img {
    max-height: 100%;
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-link {
    padding-right: 20px;
    padding-left: 10px;
    border-left: 2px dotted $col-pink;

    &:last-child {
      padding-right: 0;
    }

    a {
      color: #fff;
      transition: 0.3s;
    }

    a:hover {
      color: $col-pink;
    }
  }
}

.nav-menu-btn {
  display: none;
  width: 40px;
  height: 25px;
  border: none;
  background: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;

  span {
    height: 3px;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-radius: 10px;
    transition: 0.3s;
  }

  .top {
    width: 50%;
    top: 0;
  }

  .middle {
    width: 100%;
    top: 11px;
    background-color: $col-pink;
  }

  .bottom {
    width: 70%;
    top: 22px;
  }
}

.nav-menu-btn.toggled {
  .top {
    top: 11px;
    width: 100%;
    transform: rotate(45deg);
  }

  .middle {
    transform-origin: center;
    transform: scaleX(0);
    opacity: 0;
  }

  .bottom {
    top: 11px;
    width: 100%;
    transform: rotate(-225deg);
  }
}

// Footer
.footer {
  width: 100%;
  background-color: $col-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  p {
    margin: 80px 0;

    i,
    a {
      color: $col-pink;
    }

    i {
      animation: beat 0.8s infinite ease;
    }
  }
}

// Home
.home-page {
  .home-wrapper {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    .info,
    .img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .info {
      p {
        margin: 80px 0 50px 0;
        font-size: 1.4rem;
        position: relative;
      }

      p::before {
        content: "";
        position: absolute;
        top: -40px;
        left: 0;
        width: 100px;
        height: 4px;
        background-color: $col-pink;
        border-radius: 5px;
      }

      a {
        font-size: 1.4rem;
        background-color: $col-purple;
        color: $col-light;
        padding: 10px;
        box-shadow: 4px 4px $col-pink;
        transition: transform 0.3s;
      }

      a:hover {
        transform: scale(1.05);
      }

      a:active {
        transform: scale(0.95);
      }
    }

    .img {
      width: 100%;

      img {
        max-width: 100%;
      }
    }
  }
}

// Generate
.generate-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .generate-btn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    background: none;
    position: relative;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;

    .outer {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $col-purple;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23e20c4d' fill-opacity='0.15' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    .inner {
      width: 120px;
      height: 120px;
      background-color: $col-pink;
      border-radius: 50%;
      position: absolute;
      top: 40px;
      left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $col-light;
      font-size: 1.4rem;
    }
  }

  .generate-btn:hover {
    .outer {
      animation: btnRotate 4s infinite linear;
    }

    .inner {
      animation: btnLarge 0.3s forwards ease;
    }
  }

  .result {
    display: none;
  }
}

// About

// NotFound

// Animations
@keyframes beat {
  0%,
  80%,
  100% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
}

@keyframes btnLarge {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.15);
  }
}

@keyframes btnRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Media Queries
@media (max-width: 768px) {
  // Navbar
  .navbar {
    position: relative;
    z-index: 10;
  }

  .nav-list {
    position: absolute;
    top: $navbar-height;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: $col-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;

    .nav-link {
      font-size: 3rem;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 20px;
      border-left: 0;
    }
  }

  .nav-list.toggled {
    transform: scale(1);
    opacity: 1;
  }

  .nav-menu-btn {
    display: flex;
  }

  // Home
  .home-page {
    .home-wrapper {
      padding-top: 30px;
      grid-template-columns: 1fr;

      .info {
        text-align: center;

        a {
          width: 100%;
          box-shadow: 0px 4px $col-pink;
        }
      }
    }
  }
}
